html {
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 15px;
}
body {
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
    color: rgb(180, 180, 180);
}
a {
    color: rgb(120, 180, 200)
}
strong {
    color: rgb(255, 255, 255);
}
header {
    background-color: rgb(120, 180, 200);
}
header nav {
    background: rgb(100, 150, 200);
    padding: 8px;
}
header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    margin-right: 16px;
}
div.logo {
    background-image: url(logo@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    max-height: 100px;
}
div.logo strong {
    display: none;
}
main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 24px;
}
h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}
h3 {
    font-size: 1.4rem;
    color: rgb(120, 180, 255);
}
h4 {
    font-size: 1.2rem;
}
article {
    border-bottom: solid 1px rgb(220, 220, 220);
    margin-bottom: 16px;
    padding-bottom: 16px;
}
dl {
    margin-left: 16px;
}
dl dt {
    font-weight: bold;
}
dl dd {
    font-style: italic;
    margin-bottom: 8px;
}
blah code, samp {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 16px;
    /*background: rgb(40, 40, 40);
    color: rgb(50, 255, 255);
    border: solid 2px rgb(80, 80, 80);
    font-size: 0.8rem;
    font-family: monospace;
    white-space: pre-line;
    */
}
footer {
    background-color: rgb(30, 80, 150);
    padding: 8px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
}
footer div {
    margin-bottom: 8px;
}
footer a {
    color: rgb(200, 200, 255);
}
pre.prettyprint, code.prettyprint, samp {
    display: block;
    position: relative;
    background: rgb(230, 230, 230);
    border: solid 2px rgb(80, 80, 80);
}
samp {
    color: rgb(0, 0, 0);
    white-space: pre-line;
}
code.prettyprint {
    padding: 16px;
}
pre.prettyprint code {
    display: block;
    position: relative;
    left: -132px;
}